.wrapper {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    text-align: center;
}

.linkWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-secondary);
}